


/* APPLICATION COLORS
=======================================================================================================================*/
$greenNew: #2cc7b0;
$green: #20c485;
$blue: #00bcd4;
$purple: #8546a7;
$yellow: #ffc107;

$baseColor: $greenNew;


$alertColor: #fb3253;






/* SOCIAL WEBSITE COLORS
=======================================================================================================================*/
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;

