
@import 'variables';
@import 'mixins';


/* MIN WIDTH
=======================================================================================================================*/

/* Min Width = 350px
-----------------------------------------------------------------------*/
@media (min-width: 350px) {

	/* Min Width = 350px END */
}


/* Min Width = 480px
-----------------------------------------------------------------------*/
@media (min-width: 480px) {

/* Min Width = 480px END */
}


/* Min Width = 768px
-----------------------------------------------------------------------*/
@media (min-width: 768px) {

/* Min Width = 768px END */
}



/* MAX WIDTH
=======================================================================================================================*/

/* Max Width = 767px
-----------------------------------------------------------------------*/
@media (max-width: 767px) {

/* Max Width = 767px END */
}


/* Max Width = 479px
-----------------------------------------------------------------------*/
@media (max-width: 479px) {
	.ctgr_min_it {
		width: 50%;
	}


	.prd_dis_it_bx {
		flex-direction: column;
	}
	.prd_dis_it_lg {
		width: 100%;

		& + & {
			border-left: 0;
			border-top: 1px solid #e8e8e8;
		}
	}
	.prd_dis_sm_txt {
		height: auto;
	}
	.prd_dis_sm_img {
		height: 150px;
	}


	.prd_new_it_inr {
		padding: 10px;
	}
	.prd_new_img > a {
		height: 100px;
	}
	.prd_new_name {
		height: 34px;
		margin-bottom: 10px;
		font-size: 12px;
	}
	.prd_new_prc_bx {
		margin-right: 0;
	}
	.prd_new_prc {
		padding-left: 7px;
		border-left: 2px solid $baseColor;
	}
	.prd_new_prc_new {
		font-size: 15px;
	}
	.prd_new_cart_bx {
		display: none;
	}


	.prds_ftr_sel_bx {
		padding: 0 10px;
	}


	.prds_h_img > a {
		width: 100px;
		height: 100px;
	}


	.prd_info_act_btn_bx {
		flex-direction: column;
		align-items:center;
	}
	.prd_info_act_btn {
		max-width: none;

		& + & {
			margin-left: 0;
			margin-top: 15px;
		}


		&.home {
			width: 100%;
		}
	}


	.prd_desc_nav_ls {
		flex-direction: column;
		align-items: center;
	}


	.cart_slr_it_img {
		width: 80px;
	}
	.cart_slr_it_txt {
		width: calc(100% - 80px);
	}




	.dlvr_box {
		flex-direction: column;
	}
	.dlvr_box_txt {
		margin-left: 0;
		margin-top: 20px;
	}


	.slr_rev_comp_info_ls > li {
		display: block;
	}
	.slr_rev_comp_info_ls > li + li {
		margin-top: 12px;
	}
	.slr_rev_comp_info_ls > li > .txt {
		display: block;
		margin-bottom: 3px;
	}
	.slr_rev_cmt_it_ft {
		flex-direction: column;
	}
	.slr_rev_cmt_byr {
		margin-bottom: 20px;
	}
	.slr_rev_cmt_byr,
	.slr_rev_cmt_dtl {
		width: 100%;
	}


	.cart_slr_it_dlvr_it {
		flex-direction: column;
		align-items: flex-start;
	}

/* Max Width = 479px END */
}


/* Min Width = 349px
-----------------------------------------------------------------------*/
@media (min-width: 349px) {


	/* Min Width = 349px END */
}



